<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/hacker_rank_hr_karan/src/coding_challenge/HackerRank1.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="coding_challenge.HackerRank1"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="hacker_rank_hr_karan"/>
</launchConfiguration>
